@page "/appointments/edit"
@using Microsoft.EntityFrameworkCore
@using SpaFinalProject.Components.Models
@inject IDbContextFactory<SpaFinalProject.Data.SpaFinalProjectContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Appointment</h2>
<hr />
@if (Appointment is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Appointment" OnValidSubmit="UpdateAppointment" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Appointment.Appointment_Id" value="@Appointment.Appointment_Id" />
                <div class="mb-3">
                    <label for="customer_id" class="form-label">Customer_Id:</label>
                    <InputNumber id="customer_id" @bind-Value="Appointment.Customer_Id" class="form-control" />
                    <ValidationMessage For="() => Appointment.Customer_Id" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="employee_id" class="form-label">Employee_Id:</label>
                    <InputNumber id="employee_id" @bind-Value="Appointment.Employee_Id" class="form-control" />
                    <ValidationMessage For="() => Appointment.Employee_Id" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="service_id" class="form-label">Service_Id:</label>
                    <InputNumber id="service_id" @bind-Value="Appointment.Service_Id" class="form-control" />
                    <ValidationMessage For="() => Appointment.Service_Id" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="date" class="form-label">Date:</label>
                    <InputDate id="date" @bind-Value="Appointment.Date" class="form-control" />
                    <ValidationMessage For="() => Appointment.Date" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="start" class="form-label">Start:</label>
                    <InputDate id="start" @bind-Value="Appointment.Start" class="form-control" />
                    <ValidationMessage For="() => Appointment.Start" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Status:</label>
                    <InputText id="status" @bind-Value="Appointment.Status" class="form-control" />
                    <ValidationMessage For="() => Appointment.Status" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="notes" class="form-label">Notes:</label>
                    <InputText id="notes" @bind-Value="Appointment.Notes" class="form-control" />
                    <ValidationMessage For="() => Appointment.Notes" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price:</label>
                    <InputNumber id="price" @bind-Value="Appointment.Price" class="form-control" />
                    <ValidationMessage For="() => Appointment.Price" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="duration" class="form-label">Duration:</label>
                    <InputNumber id="duration" @bind-Value="Appointment.Duration" class="form-control" />
                    <ValidationMessage For="() => Appointment.Duration" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/appointments">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Appointment_Id { get; set; }

    [SupplyParameterFromForm]
    private Appointment? Appointment { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Appointment ??= await context.Appointment.FirstOrDefaultAsync(m => m.Appointment_Id == Appointment_Id);

        if (Appointment is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateAppointment()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Appointment!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!AppointmentExists(Appointment!.Appointment_Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/appointments");
    }

    private bool AppointmentExists(int appointment_id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Appointment.Any(e => e.Appointment_Id == appointment_id);
    }
}
