<!--<div class="top-row navbar navbar-dark">
    <div class="container-fluid">
        
    </div>
</div>-->
<nav class="navbar navbar-expand navbar-dark sticky-top" style="background-color:darkslategrey;">
    <div class="container-fluid">

        <a class="navbar-brand" href="" style="font-family:'Old English Text MT';font-size: 32pt;">
            SpaFinalProject
        </a>

        <!-- Nav links -->
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="servicesIndex">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="make-appointment">DebugAppointment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="employee-dashboard">DebugDashboard</a>
                </li>
            </ul>

            <!-- Login Page -->
            <ul class="navbar-nav ms-auto d-flex align-items-center flex-row">
                <li class="nav-item">
                    <a class="me-2" href="register"
                       style="text-decoration: none; color:black; background-color: lightgrey; border: solid thin black; border-radius: 6px; padding: 5px 30px;">
                        Register
                    </a>
                </li>

                <li class="nav-item">
                    <a href="login"
                       style="text-decoration: none; color:black; background-color: lightgrey; border: solid thin black; border-radius: 6px; padding: 5px 30px;">
                        Log In
                    </a>

                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private string loginStatus = "Log In";

    private void updateLoginStatus()
    {
        // Placeholder logic for login status
        if(loginStatus == "Log In")
        {
            loginStatus = "Log Out";
        }
        else
        {
            loginStatus = "Log In";
        }
    }
}