<!--<div class="top-row navbar navbar-dark">
    <div class="container-fluid">
        
    </div>
</div>-->
<nav class="navbar navbar-expand navbar-dark sticky-top" style="background-color:darkslategrey;">
    <div class="container-fluid">

        <a class="navbar-brand" href="" style="font-family:'Old English Text MT';font-size: 32pt;">
            SpaFinalProject
        </a>

        <!-- Nav links -->
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="make-appointment">DebugAppointment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="employee-dashboard">DebugDashboard</a>
                </li>
            </ul>

            <!-- Login Page -->
            <div class="ms-auto d-flex align-items-center gap-2">

                <NavLink href="register"
                         class="btn"
                         style="background-color: lightgrey; border: 1px solid black; color: black; padding: 5px 30px;">
                        Register
                </NavLink>

                <NavLink href="login"
                         class="btn"
                         style="background-color: lightgrey; border: 1px solid black; color: black; padding: 5px 30px;">
                        Log In
                </NavLink>

            </div>
        </div>
    </div>
</nav>

@code {
    private string loginStatus = "Log In";

    private void updateLoginStatus()
    {
        // Placeholder logic for login status
        if(loginStatus == "Log In")
        {
            loginStatus = "Log Out";
        }
        else
        {
            loginStatus = "Log In";
        }
    }
}