@page "/customers"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using SpaFinalProject.Components.Models
@using SpaFinalProject.Data
@implements IAsyncDisposable
@inject IDbContextFactory<SpaFinalProject.Data.SpaFinalProjectContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="customers/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Customer">
    <PropertyColumn Property="customer => customer.Fname" />
    <PropertyColumn Property="customer => customer.Lname" />
    <PropertyColumn Property="customer => customer.Notes" />
    <PropertyColumn Property="customer => customer.DateAccount" />
    <PropertyColumn Property="customer => customer.User_Id" />
    <PropertyColumn Property="customer => customer.Email" />
    <PropertyColumn Property="customer => customer.Password" />
    <PropertyColumn Property="customer => customer.Phone" />

    <TemplateColumn Context="customer">
        <a href="@($"customers/edit?customer_id={customer.Customer_Id}")">Edit</a> |
        <a href="@($"customers/details?customer_id={customer.Customer_Id}")">Details</a> |
        <a href="@($"customers/delete?customer_id={customer.Customer_Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private SpaFinalProjectContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
