

@page "/"

<PageTitle>Home</PageTitle>

<img src= "images\spaHeader.jpg" class="img-fluid px-0" />

<div class="container-fluid" id="homeBody">
    <div class="row">
        <div class="col" style="border:solid">
            <h3>Scheduling your Spa Day!</h3>
            <p>To schedule your spa day, please log in or contact our spa at (701)867-5309! Then come to our location at 1600 Pennsylvania Avenue NW and prepare
                to be pampered like never before! We look forward to seeing you!
            </p>
        </div>
        <div class="col offset-md-2" style="border:solid">
            <h3>Our Services</h3>
            <ul>
                <li>Massage Therapy</li>
                <li>Facials</li>
                <li>Body Treatments</li>
                <li>Nail Services</li>
                <li>Hair Removal</li>
                <li>And More! Check out our <a href="services">Services</a> page for more info!</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <h3>New to us?</h3>
        <p>Simply make an account to start booking appointments with our specialists!</p>

        <a class="btn btn-primary" href="error" role="button">Create Account</a>
    </div>
</div>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <div class="col">
            <p class="text-muted">© 2024 Spa Day. All rights reserved.</p>
        </div>
        <div class="col">
            <p class="text-muted">Contact us: (701)867-5309 </p>
        </div>
    </div>
</footer>
