@page "/OldServices"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1 style="font-family:'Baskerville Old Face'"><b>Our Services</b></h1>

<div class="container-fluid">
    <table id="serviceTable" style="margin:auto">
        <tr>
            <th>Service Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
        <tr>
            <td style="border:solid;">Massage Therapy</td>
            <td style="border:solid;">Relaxing full-body massage to relieve stress and tension.</td>
            <td style="border:solid;">$80</td>
            <td style="border:solid;">60-minute session</td>
        </tr>
        <tr>
            <td style="border:solid;">Facials</td>
            <td style="border:solid;">Rejuvenating facial treatments for glowing skin.Includes cleansing, exfoliation, and face mask.</td>
            <td style="border:solid;">$70</td>
            <td style="border:solid;">60-minute session</td>
        </tr>
        <tr>Add more as needed</tr>
    </table> 
</div>




















<!--<p role="status">Current count: @currentCount</p>
<table>
    <tr>
        <th>Service Name</th>
        <th>Description</th>
    </tr>
</table>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}-->
